#admin-toolbar-search-tab .js-form-item.form-item {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

#admin-toolbar-search-input {
  min-height: 1rem;
  padding: 0 0.4rem;
  line-height: 1.75rem;
}

.ui-autocomplete .ui-menu-item span.admin-toolbar-search-url {
  color: rgba(0, 0, 0, 0.50);
}
